@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.link-cust {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 30px;
  color: aquamarine;
}
.text-cust {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 120px;
  color: black;
}
h2 {
  color: rgb(58, 53, 53);
}
#portada {
  background-color: blue;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-color: rgb(170, 198, 250);
}
.cont-cust1 {
  background-color: burlywood;
  border-radius: 15px;
  border: solid 10px;
}
.cont-cust {
  background-color: rgb(15, 136, 192);
  border-radius: 10px;
  font-weight: bold;
}
.form-cust {
  background-color: rgb(212, 205, 173);
  border-bottom: black;
  border-style: solid;
  border-width: thin;
  font-weight: bolder;
}
footer {
  color: white;
}
h3 {
  text-align: center;
  font-weight: bolder;
  color: rgb(58, 53, 53);
}
